{{#if allocation.projects}}
	{{#allocation.projects}}
		<div class='project'>
			<span class='tag-icon A'>H</span>
			<h3>{{company_name}} - {{project_name}}</h3>
			<div class="project-details">
					<div class="detail-header">Best Team Matches:</div><br><br>
					<div class="team-matches">
						{{#team_matches}}
								<div class="team-match" onclick='toggleProject("team_{{@../index}}_{{@index}}")')>
									<b>{{add @index 1}}.&nbsp;{{team_name}}</b>&nbsp;- Angela Deckow, Thalia Kihn, Dejah Hoppe, Danyka Kerluke <br>Average&nbsp;GPA:&nbsp;<b>{{team_gpa}}</b> | Skill&nbsp;Match:&nbsp;<b>{{matched_skills_percentage}}%</b>| Course&nbsp;Combination:&nbsp;<b>CCII</b>
									<button onclick="location.href='#';" class='project-block-btn alloc-team-btn'>Assign Team <i class="fa fa-users"></i></button>
									<div class="team-match-info" id="team_{{@../index}}_{{@index}}">
										<table class="skills-table">
											<tr>
												<th>All Team Skills</th>
												<th>Required Skills</th> 
												<th>Supporting Skills</th>
											</tr>
											<tr>
												<td>Back-End Web Development, Security, Object Oriented Programming, C#, Java, Web Design</td>
												<td><b>Matched Skills:</b><br> Back-End Web Development, Object Oriented Programming, C#</td> 
												<td><b>Matched Skills:</b><br>Security<br><br><b>Missing Skills:</b><br> SQL, Client side Javascript</td>
											</tr>
										</table>
									</div>
								</div>
						{{/team_matches}}
					</div>
			</div>
		</div>
	{{/allocation.projects}}
{{else}}
	<h2>Allocations have not yet been generated.</h2>
{{/if}}