<h1>{{#isNewTeam}}Create{{else}}Edit{{/isNewTeam}} Team</h1>

<!-- This is where the main 'app' on the page resides. Will make this update contents by AJAX, rather than reloading entire site. -->
<div id='app'>
	<div class="allocation-finalize">
		<div id="teamNameEdit" class="email-editor-title"><b>Team Name</b> <i class="fa fa-edit"></i></div>
		<div id="team_name_edit" class="email-editor" contenteditable="true">{{{team.team_name}}}</div><br>
		<div class="email-editor-title"><b>Team Summary</b> <i class="fa fa-edit"></i></div>
		<div class="email-editor" id="team_summary_edit" contenteditable="true">{{{team.team_summary}}}</div><br>
		<div class="email-editor-title"><b>Preferred Industry</b> <i class="fa fa-edit"></i></div>
		<div class="email-editor" contenteditable="true" id="preferred_industry_edit">{{{team.preferred_industry}}}</div><br>
		<form id="teamUpdateForm" method="POST" action="/{{#isNewTeam}}createteam{{else}}editteam{{/isNewTeam}}">
			<input type="hidden" id="team_name" name="team_name" value="">
			<input type="hidden" id="team_summary" name="team_summary" value="">
			<input type="hidden" id="preferred_industry" name="preferred_industry" value="">
			{{#unless isNewTeam}}
				<div id="teamReadyEdit" class="email-editor-title"><b>Team Ready</b></div>
				<div id="teamReadyEdit" class="email-editor">
					<input type="checkbox" onchange="teamReadyCheckToggle();" id="team_ready" name="team_ready"> <span>Check this box if your team is ready to be entered into the pool of teams that can be allocated to projects.</span>
					<div id="teamReadyInfoContent">
						<p><b>Warning: </b>This setting will immediately take effect after applying changes. Please ensure that the team information you have provided is your final version.</p>
						<p><b>Important Notice: </b>As part of the Capstone project allocation process it is necessary for QUT staff to provide potential industry partners with information about the members of the student team that they have been allocated.  By submitting the student team information you consent to QUT providing the information present in this Team CV document to the industry partner. In particular, this information may include personal information such as your contact details (e.g. name, email address and phone number). QUT undertakes to provide this information only to the specific industry partner involved in an active project allocation, and all industry partners are required to treat this information confidentially. 
						If there are any issues with the provision of this information, please contact us via the IT Capstone alias (<a href="mailto:it.capstone@qut.edu.au">it.capstone@qut.edu.au</a>), or if the matter is especially sensitive, please contact the unit co-ordinator directly (<a href="j.hogan@qut.edu.au">j.hogan@qut.edu.au</a>).</p>
						<input type="checkbox" id="infoUnderstand" name="infoUnderstand"> <span>Check this box if you understand the information above.</span>
					</div>
				</div><br>
			{{/unless}}
			{{#isNewTeam}}
			<button type="button" onclick="updateTeam()" id='updateTeamBtn' class='project-block-btn'>Create Team</button>
			<p>&nbspPlease note that you will be able to make changes to the information provided, after creating the team.</p>
			{{else}}
			<button type="button" onclick="updateTeam()" id='updateTeamBtn' class='project-block-btn'>Apply Changes</button>
			{{/isNewTeam}}
		</form>
	</div>
</div>