<h1>Pending Industry Partner Contact Details to be Updated</h1>

<div id='app'>
	<div class='proposals-view'>
		{{#partners}}
		<a class='project-li' id="{{project_id}}" onclick="getContent('{{project_id}}', 'proposal-view', 'industrycontact', true)">
				<h3>{{company_name}}, Project ID: {{project_id}}</h3>
			</a>
		{{/partners}}

	</div>
	<div id='proposal-view'>
		{{#if isEmpty}}
			<div id='proposal-helper'>&nbsp&nbsp&nbsp All caught up! No partners to update.</div>
		{{else}}
			<div id='proposal-helper'><i class="fa fa-hand-o-left"></i>&nbsp&nbsp&nbsp Click on a partner to update</div>
		{{/if}}
	</div>
</div>
