<h1>Pending Industry Partner Contact Details to be Updated</h1>

<div id='app'>
	<div class='proposals-view'>
		{{#partners}}
		<a class='project-li' id="{{project_contacts.id}}" onclick="getContent('{{project_contacts.id}}', 'proposal-view', 'partner', true)">
				<h3>{{project_contacts.id}} - {{project_contacts.project_id}}</h3>
			</a>
		{{/partners}}
<!-- 		<a class='project-li' id="43" onclick="getProposal('43')">
			<h3>Koogle - Matroid Security Enhancements</h3>
		</a>
		<a class='project-li'>
			<h3>Disco Systems - Enterprise Router Functional Analysis</h3>
		</a>
		<a class='project-li'>
			<h3>Brisbane Technology Services - Technology Servicing</h3>
		</a> -->
	</div>
	<div id='proposal-view'>
		{{#if isEmpty}}
			<div id='proposal-helper'>&nbsp&nbsp&nbsp All caught up! No partners to update.</div>
		{{else}}
			<div id='proposal-helper'><i class="fa fa-hand-o-left"></i>&nbsp&nbsp&nbsp Click on a partner to update</div>
		{{/if}}
	</div>
</div>
