<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/spinkit.css' />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="javascripts/dynamiccontent.js"></script>
	<script src="javascripts/staff.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  </head>
  <body>
	<header>
		<div id='top-menu-name'>
			<span>{{title}}</span>
			<span id='sub-name'>Academic Portal</span>
			
			<a class="logout-button" href='/logout'>Logout</a>
			<a href='#' id='username'>{{session_data.first_name}} {{session_data.last_name}}</a>
		</div>
	</header>

    {{{body}}}

  </body>
  
	<!-- Search Bar -->
	<script type="text/javascript">
		// Search bar functionality
		$(document).ready(function(){
			$('.search-box input[type="text"]').on("keyup input", function(){
				/* Get input value on change */
				var inputVal = $(this).val();
				var resultDropdown = $(this).siblings(".result");
				if(inputVal.length){
					$.get("backend-search.php", {term: inputVal}).done(function(data){
						// Display the returned data in browser
						resultDropdown.html(data);
					});
				} else{
					resultDropdown.empty();
				}
			});
			
			// Set search input value on click of result item
			$(document).on("click", ".result p", function(){
				$(this).parents(".search-box").find('input[type="text"]').val($(this).text());
				$(this).parent(".result").empty();
			});
		});
	</script>
</html>
