<div id='project-individual'>
	<div class='project-options'>
		<button onclick="location.href='#';" class='project-block-btn'>Assign Team <i class="fa fa-users"></i></button>
		<span>{{project.company_name}} - {{project.project_name}}</span>
		<button onclick="location.href='#';" class='project-block-btn delete'>Delete Project <i class="fa fa-trash"></i></button>
		<button onclick="location.href='#';" class='project-block-btn edit'>Edit Project <i class="fa fa-edit"></i></button>
	</div>
	<div class='people-blocks' id='team'>
		<div class='people-block-top'>
			<span class='people-block-title'>Assigned Team - {{project.team.team_name}}</span>
			<div class="people-block-btn-ext">
				<span class="tooltiptext">Team Profile</span>
				<button onclick="location.href='/team?id={{project.team.team_id}}';" class='people-block-btn'><i class="fa fa-users"></i></button>
			</div>
			<div class="people-block-btn-ext">
				<span class="tooltiptext">Send Bulk E-mail</span>
				<button onclick="location.href='mailto:em@i.l';" class='people-block-btn'><i class="fa fa-envelope"></i></button>
			</div>
		</div>
		{{#project.team.students_in_teams}}
			<div class='people-block'>
				<div class='people-block-info'>
					<h3>{{students.first_name}} {{students.last_name}}</h3>
					<span>Student ID: {{students.student_id}}</span><br>
					<span>Email: {{students.qut_email}}</span>
				</div>
				<div class='people-block-buttons'>
					<div class="people-block-btn-ext">
						<span class="tooltiptext">Student Profile</span>
						<button onclick="location.href='/student?id={{students.student_id}}';" class='people-block-btn'><i class="fa fa-user"></i></button>
					</div>
					<div class="people-block-btn-ext">
						<span class="tooltiptext">Send E-mail</span>
						<button onclick="location.href='mailto:{{students.qut_email}}';" class='people-block-btn'><i class="fa fa-envelope"></i></button>
					</div>
				</div>
			</div>
		{{/project.team.students_in_teams}}
		<div class='grp-bg' id='grp-team'><div class='grp-icon'><i class="fa fa-users"></i></div></div>
	</div>
	<div class='people-blocks' id='industry-contact'>
		<h3>Industry Partner - {{project.company_name}}</h3>
		<div class='people-block'>
			<div class='people-block-info'>
				<h3>Company Info</h3>
				<span>Industry: {{project.industry}}</span><br>
				<span>Address: {{project.address}}</span><br>
			</div>
		</div>
		{{#project.project_contacts}}
			<div class='people-block'>
				<div class='people-block-info'>
					<h3>{{first_name}} {{last_name}}</h3>
					<span>Phone: {{phone}}</span><br>
					<span>Email: {{email}}</span>
				</div>
				<div class='people-block-buttons'>
					<div class="people-block-btn-ext">
						<span class="tooltiptext">Send E-mail</span>
						<button onclick="location.href='mailto:{{email}}';" class='people-block-btn'><i class="fa fa-envelope"></i></button>
					</div>
				</div>
			</div>
		{{/project.project_contacts}}
		<div class='grp-bg' id='grp-industry'><div class='grp-icon'><i class="fa fa-user"></i></div></div>
	</div>
	<div id='proposal'>
		<h1>Submitted Proposal</h1>
		<div id="proposal-content">
			<div class="proposal-element">
				<span><b>Title of the proposed project: </b></span><p style="font-size: 20px">{{project.project_name}}</p>
			</div>
			<div class="proposal-element">
				<span><b>Discipline Area of the Project: </b></span><p>{{project.industry}}</p>
			</div>
			<h2 class="proposal-header">Industry Partner Key Contact Details</h2>
			<div class="proposal-element">
				<span><b>Industry Partner: </b></span>
				<p>Organisation Name: {{project.company_name}}</p>
				<p>Address: {{project.address}}</p>
				<p>ABN: {{project.abn}}</p>
			</div>
			<div class="proposal-element">
				{{#project.project_contacts}}
					<span><b>Supervisor: </b></span><br><br>
					<p>Name: {{first_name}} {{last_name}}</p>
					<p>Email: {{email}}</p>
					<p>Phone: {{phone}}</p>
				{{/project.project_contacts}}
			</div>
			<h2 class="proposal-header">Project Details</h2>
			<div class="proposal-element">
				<span><b>Your Organisation: </b></span><p>{{project.about_company}}</p>
			</div>
			<div class="proposal-element">
				<span><b>Project Description: </b></span><p>{{project.description}}</p>
				<span><b>Project Deliverables: </b></span><p>{{project.scope_deliverables}}</p>
			</div>
			<div class="proposal-element">
				<span><b>Required Knowledge: </b></span><p>{{project.req_knowledge}}</p>
				<span><b>Required Skills: </b></span>{{#project.project_skills}}<p>&#8226; {{skills.skill_name}}</p>{{/project.project_skills}}
			</div>
		</div>
	</div>
</div>