<h1>Proposals</h1>

<!-- This is where the main 'app' on the page resides. Will make this update contents by AJAX, rather than reloading entire site. -->
<div id='app'>
	<div class='proposals-view'>
		{{#proposals}}
			<a class='project-li' id="{{project.project_id}}" onclick="getContent('{{project.project_id}}', 'proposal-view', 'proposal', true)">
				<h3>{{project.company_name}} - {{project.project_name}}</h3>
			</a>
		{{/proposals}}

	</div>
	<div id='proposal-view'>
		{{#if isEmpty}}
			<div id='proposal-helper'>&nbsp&nbsp&nbsp All caught up! No proposals to assess.</div>
		{{else}}
			<div id='proposal-helper'><i class="fa fa-hand-o-left"></i>&nbsp&nbsp&nbsp Click on a project to assess. <br><br> Contact details must be confirmed before a project can be assessed.</div>
		{{/if}}
	</div>
</div>
