{{#teams}}

    <div class='project'>
        <h3>{{team_name}}</h3>
        <div class="project-details">
            <div class="detail-header">Team members:</div>
            <div class="detail-information">
                {{#students_in_teams}}
                    {{#if @first}}{{else}},{{/if}}
                    {{#students}}
						{{first_name}} {{last_name}}
                    {{/students}}
                {{/students_in_teams}}
			</div>
			<br><br>
			<div class="detail-header">Total members:</div>
			<div class="detail-information">
				{{students_in_teams.length}}
				&nbsp&nbsp&nbsp
            </div>
			<div class="detail-header">Course Combination:</div>
			<div class="detail-information">
				CCII
            </div>
            <div class="acceptance-states">
            </div>
        </div>


		{{#compare ../session_data.staff_type '===' 'staff'}}
			<a class='right-link' href='#'>Open Team</a>
		{{/compare}}
		{{#compare ../session_data.staff_type '===' 'student'}}
			<button class='project-block-btn' onclick=''>Request to join</button>
		{{/compare}}

    </div>
{{/teams}}
