<!DOCTYPE html>
<html>
	<head>
		<title>{{team.team_name}} - QUT IT Capstone Student Team</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="javascripts/alertify.js"></script>
		<link rel="stylesheet" href="stylesheets/alertify.core.css" />
		<link rel="stylesheet" href="stylesheets/alertify.default.css" />
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	</head>
	<body>
		<div class="registration-section">
			<h1>{{team.team_name}}</h1>
				<div class="email-editor-title"><b>About the team</b> <i class="fa fa-edit"></i></div>
				<div class="email-editor">
					<p class="info-paragraph">Our Members</p>
					<table class="info-paragraph">
						<tr>
							<th>Student Name</th> 
							<th>Main role in the team</th>
						</tr>
						{{#team.students_in_teams}}
							<tr>
								<td>{{this.students.first_name}} {{this.students.last_name}}</td>
								<td>{{this.role}}</td>
							</tr>
						{{/team.students_in_teams}}
					</table>
					<p class="info-paragraph">{{team.team_summary}}</p>
				</div>
				<div class="email-editor-title"><b>Our Members</b> <i class="fa fa-edit"></i></div>
		</div>
	</body>
</html>