<h1>{{team.team_name}}</h1>

<!-- This is where the main 'app' on the page resides. Will make this update contents by AJAX, rather than reloading entire site. -->
<div id='app'>
	<div class='students-view myteam_list' id='students-view'>
		<div class="email-editor-title"><b>Team Members in {{team.team_name}}</b></i></div>
		{{#team.students_in_teams}}
			{{#compare is_approved '===' 1}}
			  <div class='project'>
				<h3>{{students.first_name}} {{students.last_name}}{{#compare master '===' 1}} (Owner){{/compare}}</h3>
				<div class="project-details">

				</div>
				<a class='right-link' href='mailto:{{students.qut_email}}'>Contact student</a>
			  </div>
			{{/compare}}
		{{/team.students_in_teams}}
		<div class="email-editor-title"><b>Peers requesting to join {{team.team_name}}</b></i></div>
		{{#team.students_in_teams}}
			{{#compare is_approved '===' 0}}
			  <div class='project'>
				<h3>{{students.first_name}} {{students.last_name}}</h3>
				<div class="project-details">

				</div>
				<a class='right-link' href='mailto:{{students.qut_email}}'>Contact student</a>
				<button class='project-block-btn' onclick=''>Approve join request</button>
				<button class='project-block-btn request_decline_btn' onclick=''>Decline join request</button>
			  </div>
			{{/compare}}
		{{/team.students_in_teams}}
	</div>
</div>
